[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/sifive/freedom-e-sdk
[submodule "freedom"]
	path = freedom
	url = https://github.com/sifive/freedom
[submodule "freedom-e-sdk-docker"]
	path = freedom-e-sdk-docker
	url = https://github.com/andrsmllr/freedom-e-sdk-docker
